@page "/Matches"
@using WebApplication.Data
@using WebApplication.Network
@using Microsoft.AspNetCore.Http
@using SEP3Tier1App.Authentication
@inject IModalService Modal
@inject ProfileData ProfileData
@inject INetworkComp Network;
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider Authentication

<h3>Matches</h3>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

@if (Usernames == null || Usernames.Count == 0)
{
  <p><em>You do not have any matches yet - but only wait!</em></p>
}
else
{
  @for (int i = 0; i < Usernames.Count; i++)
  {
    string holder = Usernames[i];
    <div class="w3-container">

      <div class="w3-card-4 w3-dark-grey" style="width:50%">

        <div class="w3-container w3-center">
          <h3>Match Request</h3>
        
        <a @onclick="@(() => ButtonClicked(holder))">
         
        
                  <img src="@ProfilePictures[i]" style="width: 70%;height: 250px;" alt=""/>
             
        </a>
       
          <h5>@holder</h5>

          <div class="w3-section">
            <button class="w3-button w3-green" @onclick="@(() =>Accept(holder))" >Accept</button>
            <button class="w3-button w3-red" @onclick="@(() =>Decline(holder))">Decline</button>
          </div>
        </div>

      </div>
    </div>
  }
}
</body>
@code {
  private List<String> Usernames;
  ProfileOfOthers ProfileOfOthers;
  private IList<string> ProfilePictures;
  private string username;
  private Match _match;



  protected override async Task OnInitializedAsync()
  {
    if (((CustomAuthenticationStateProvider) Authentication).getCachedUser() == null || ProfileData.username == null)
    {
      NavigationManager.NavigateTo("/");
    }
    else
    {
      username = ((CustomAuthenticationStateProvider) Authentication).getCachedUser().username;
      _match = new Match();
      Usernames = (List<string>)await Network.GetMatches(username);
      ProfilePictures = await getProfilePictures(Usernames);
    }

  }

  private void ButtonClicked(string item)
  {
    bool isConnected = false;
    if (item != null)
      {
        NavigationManager.NavigateTo($"/ProfileOfOthers/{item}/{isConnected}");
      }
  }

  private async Task Accept(string username2)
  {
   _match.MakeMatch(username,username2);
    await Network.AcceptMatch(_match);
    int index = Usernames.FindIndex(username => username.Contains(username2));
    ProfilePictures.RemoveAt(index);
    Usernames.RemoveAt(index);
    _match.usernames.Clear();
    StateHasChanged();
  }

  private async Task Decline(string username2)
  {
    _match.MakeMatch(username,username2);
    await Network.DeclineMatch(_match);
    int index = Usernames.FindIndex(username => username.Contains(username2));
    ProfilePictures.RemoveAt(index);
    Usernames.RemoveAt(index);
    _match.usernames.Clear();
    StateHasChanged();
  }

  //pak det her væk udenfor controllers - for meget logik, burde være et enkelt metodekald
  private async Task<IList<string>> getProfilePictures(IList<string> username)
  {
    IList<string> pictures = new List<string>();
    for (int i = 0; i < username.Count; i++)
    {
      string profilePicture = await Network.GetProfilePicture(username[i]);
      pictures.Add(profilePicture);
    }
    return pictures;
  }



}