@page "/Profile"
@using WebApplication.Data
@using WebApplication.Network
@using SEP3Tier1App.Components
@using Blazored.Modal.Services
@using System.Net.Mime
@using System.IO
@using BlazorInputFile
@using SEP3Tier1App.Util
@inject IModalService Modal
@inject ProfileData ProfileData
@inject INetworkComp Network;
@inject NavigationManager NavigationManager

<head>
    <style>
        body {
        background-color: #1b1e21;
        }
    </style>
</head>
<div style="width: 100%; height: 400px; background: rgb(2,0,36);
                                                                         background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);">
    <div id="example1" class="cover-div" style="height: 220px; position: relative; padding: 0;">
        <img src="@CoverPicture" style="height: 100%; width:100%; display: block; border: 0;margin: 0;padding: 0;" alt=""/>
        <div id="example2">
            <img src="@ProfilePicture" style="width: 100%;border-radius: 50%;height: 150px;" alt=""/>
        </div>
    </div>


    <div id="top">
        <h2 class="Georgia">Maria Frandsen</h2>

    </div>
</div>

<div style="width: 75%; margin: auto; background-color: white;">
    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="About">
                <div style="height: 300px">
                    <div style="float:left; width: 40%; height: 250px; border-style: solid; margin-left: 7%; overflow: scroll;">

                        <h5 class="Georgia" style="float: left">About Maria</h5>

                        @if (!ProfileData.isEditingAbout)
                        {
                            <button class="btn btn-primary Georgia" type="submit" @onclick="Edit" style="float: right">Edit</button>
                            <div style="float: left">
                                <p class="Georgia">Age: @ProfileData.age</p>
                                <p class="Georgia">Interests: @ProfileData.interests</p>
                                <p class="Georgia">Ideal date: @ProfileData.idealdate</p>
                                <p class="Georgia">Instagram: @ProfileData.instagram</p>
                                <p class="Georgia">Spotify: @ProfileData.spotify</p>
                            </div>
                        }
                        else
                        {
                            <button class="btn btn-primary Georgia" type="submit" @onclick="EditAbout" style="float: right">Save</button>
                            <p/>
                            <input type="text" class="form-control" placeholder="Age" @bind="@ProfileData.age"/>
                            <input type="text" class="form-control" placeholder="Interests" @bind="@ProfileData.interests"/>
                            <input type="text" class="form-control" placeholder="Ideal Date" @bind="@ProfileData.idealdate"/>
                            <input type="text" class="form-control" placeholder="Instragam" @bind="@ProfileData.spotify"/>
                            <input type="text" class="form-control" placeholder="Spotify" @bind="@ProfileData.instagram"/>
                        }


                    </div>


                    <div style=" overflow: scroll; float:right; width: 40%; height: 250px; border-style: solid; margin-right: 7%; margin-bottom: 50px;">
                        <h5 class="Georgia" style="float: left">Introduction </h5>

                        @if (!ProfileData.isEditingIntro)
                        {
                            <button class="btn btn-primary Georgia" type="submit" @onclick="EditIntro" style="float: right">Edit</button>
                            <p class="Georgia" style="float: left">
                                @ProfileData.intro
                            </p>
                        }
                        else
                        {
                            <button lass="btn btn-primary Georgia" type="submit" @onclick="EditIntroduction" style="float: right">Save</button>
                            <br/>
                            <EditForm Model="@ProfileData" OnValidSubmit="Here">
                                <DataAnnotationsValidator/>
                                <ValidationSummary/>
                                <br/>
                                <InputTextArea style="margin-left: 5px; width: 250px; height: 150px" @bind-Value="ProfileData.intro"/>

                            </EditForm>
                        }

                    </div>
                </div>

            </RadzenTabsItem>
            <RadzenTabsItem Text="Images">
                <div style="height: 300px">
                    <InputFile OnChange="HandleSelection"/>
                    <br/>
                    @for (int i = 0; i < Images.Count - 1; i++)
                    {
                        int holder = i;
                        <div class="gallery" style="overflow: hidden;">
                            <a target="_blank" href="@Images[holder]" >
                                <img src="@Images[i]" alt="@holder" width="600px" height="400px"/>
                            </a>
                            <div>
                                <button @onclick="@(e => ChooseProfilePic(holder))" style="position: absolute; bottom: 0;">Profile</button>
                                <button @onclick="@(e => ChooseCover(holder))" style="bottom: 0; right: 0; position: absolute;">Cover</button>
                                <button @onclick="@(e => DeletePhoto(holder))">Delete</button>
                            </div>
                        </div>
                    }
                    <p>@Error</p>
                </div>

            </RadzenTabsItem>
            <RadzenTabsItem Text="Reviews">
                <div style="height: 300px; overflow: scroll;">
                    @foreach (Review review in Reviews)
                    {
                        <div style="height: 100px; border-width: 1px; margin-left: 10px; margin-right: 30px;" class="container">
                            <div class="row" style="height: 100%">
                                <div style="height: 100%" class="col-md-2">
                                    <img src="@review.image" alt="@review.username" style="object-fit: fill; border-radius: 50%; width: 100%; height: 70%;"/>
                                    <p style="margin-left: 25%;">@review.username</p>
                                </div>


                                <div class="col-md-8">
                                    <p>@review.review</p>
                                </div>

                                <div class="col-md-2">
                                     <p style="float: right;">@review.timestamp</p>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
</div>

@code {
    //comment siden
    //fjern inline style


    private string CoverPicture;
    private string ProfilePicture;
    private string dataUri, Error;
    private IList<string> Images = new List<string>();
    private IList<Review> Reviews = new List<Review>();


    private string username = "Maria";

    protected override async Task OnInitializedAsync()
    {
        Reviews.Add(new Review());
        ProfileData.username = username;
        
        ProfileData.isEditingAbout = false;

    //henter data fra databasen til at fylde profilen ud,
    //kunne optimeres

        try
        {
            Task<ProfileData> profile = Network.GetProfile(username);
            CoverPicture = await Network.GetCoverPicture(username);
            Images = await Network.GetPictures(username);
            ProfilePicture = await Network.GetProfilePicture(username);
            Reviews = await Network.GetReviews(username);
            
            
            ProfileData = await profile;
        }
        catch (ErrorException e)
        {
            Console.WriteLine(e.Message);
            NavigationManager.NavigateTo($"/Error/{e.Message}");
        }
        
    }

    private void Here()
    {
    }

    private void Edit()
    {
        ProfileData.isEditingAbout = !ProfileData.isEditingAbout;
    }

    private void EditIntro()
    {
        ProfileData.isEditingIntro = !ProfileData.isEditingIntro;
    }

    public async Task EditIntroduction()
    {
        EditIntro();
        ProfileData.username = username;
        ProfileData.intro = ProfileData.intro.Trim();
        await Network.EditIntroduction(ProfileData);
    }

    async Task HandleSelection(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file != null)
        {
            if (!(file.Type.Equals("image/jpeg") || file.Type.Equals("image/jpg")))
            {
                Error = "Please upload only jpeg files.";
            }
            if (file.Size > 1048576)
            {
                Error += "Please upload a smaller file";
            }
            else
            {
                IFileListEntry image = await file.ToImageFileAsync(file.Type, 512, 512);
                var ms = new MemoryStream();
                await image.Data.CopyToAsync(ms);

                dataUri = $"data:{file.Type};base64,{Convert.ToBase64String(ms.ToArray())}";

                try
                {
                    await Network.UploadPicture(username, dataUri);
                    Images = await Network.GetPictures(username);
                }
                catch (ErrorException e)
                {
                    NavigationManager.NavigateTo($"/Error/{e.Message}");
                }
            }
            
        }
    }

    private async Task EditAbout()
    {
    //brug for at bruge den samme metode altid med et request objekt,
    //så det kun er enum som er forskellige når man opdater profiledata
        Edit();
        ProfileData.username = username;

        try
        {
            await Network.EditProfile(ProfileData, RequestOperationEnum.EDITABOUT);
        }
        catch (ErrorException e)
        {
            NavigationManager.NavigateTo($"/Error/{e.Message}");
        }
    }
    
    private async void ChooseCover(int i)
    {
        try
        {
            await Network.ChangeCoverPicture(username + (i + 1));
            CoverPicture = Images[i];
        }
        catch (Exception e)
        {
            NavigationManager.NavigateTo($"/Error/{e.Message}");
        }
    }

    private async void ChooseProfilePic(int i)
    {
        try
        {
            await Network.ChangeProfilePic(username + (i + 1));
            ProfilePicture = Images[i];
        }
        catch (Exception e)
        {
            NavigationManager.NavigateTo($"/Error/{e.Message}");
        }
       
    }

    private async void DeletePhoto(int holder)
    {
        throw new NotImplementedException();
    }

}